---
const {url, id} = Astro.props
---
<a id={id} class="twitter-share-button social-link" target="_blank" href=`https://x.com/intent/tweet?url=${url}&text=Hey! Check out my new costume😈&hashtags=HalloWear`>X/Twitter</a>

<style>

</style>