---
import pirateCostume from '@examples/pirate_costume.jpg';
import angelCostume from '@examples/angel_costume.jpg';
import chuckyCostume from '@examples/chucky_costume.jpg';
import devilCostume from '@examples/devil_costume.jpg';
import astronautCostume from '@examples/astronaut_costume.jpg';
import marioCostume from '@examples/mario_costume.jpg';
import princessCostume from '@examples/princess_costume.jpg';
import scaryClownCostume from '@examples/scary-clown_costume.jpg';
import shrekCostume from '@examples/shrek_costume.jpg';
import spidermanCostume from '@examples/spiderman_costume.jpg';
import skeletonCostume from '@examples/skeleton_costume.jpg';
import vampireCostume from '@examples/vampire_costume.jpg';

const costumeExamples = [
  { src: pirateCostume, name: "Pirate", alt: "" },
  { src: angelCostume, name: "Angel", alt: "" },
  { src: chuckyCostume, name: "Chucky", alt: "" },
  { src: devilCostume, name: "Devil", alt: "" },
  { src: astronautCostume, name: "Astronaut", alt: "" },
  { src: marioCostume, name: "Mario Mario", alt: "" },
  { src: princessCostume, name: "Princess", alt: "" },
  { src: scaryClownCostume, name: "Scary Clown", alt: "" },
  { src: shrekCostume, name: "Shrek", alt: "" },
  { src: spidermanCostume, name: "Spiderman", alt: "" },
  { src: skeletonCostume, name: "Skeleton", alt: "" },
  { src: vampireCostume, name: "Vampire", alt: "" },
]

import { getCldImageUrl } from "astro-cloudinary/helpers"

import Layout from "@layouts/Layout.astro"

import ExampleButton from "@components/ExampleButton.astro"
import CostumeForm from "@components/CostumeForm.astro"
import CostumeImage from '@components/CostumeImage.astro';

const { searchParams } = Astro.url
const id = searchParams.get("id")

if (id == null) return Astro.redirect("/")

const url = getCldImageUrl({ src: id })

---

<Layout title="Cloudinary Photo">
  <main data-id={id} id="appLayout">
    <div class="interactive">
      <section class="costume-form">
        <CostumeForm id="costumeForm"/>
      </section>
      <section class="examples">
        <h2 class="examples__title">Explore some examples</h2>
        <div class="examples__container">
          {costumeExamples.map((example) => (
            <ExampleButton class:list={['examples__buttons']} {...example} />
          ))}
        </div>
      </section>
    </div>
    <div class="result">
      <CostumeImage url={url} />
    </div>
    <div class="share">
      <section>
        <h1>Share your scary costume!</h1>
        <div>
          <button>discord</button>
          <button>Instagram</button>
    
          <button>Whatsapp</button>
          <button>X / Twitter</button>
        </div>
      </section>
      <section>
        <h2>Take your costume with you</h2>
        <button>Download</button>
      </section>
      <section>
        <h2>Keep exploring!</h2>
        <button>Wear Another Costume</button>
      </section>
    </div>
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 0px;
    justify-items: center;
    max-width: 1200px;
    margin-inline: auto;
    gap: 48px;
    transition: grid-template-columns 0.25s;
  }

  .examples__container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    gap: 12px;
  }

  .share{
    min-width: 0px;

    section{
      opacity: 0;
      visibility: hidden
      ;
    }
  }
</style>

<script>
  import { applyTransformationToImage } from "@helpers/applyTransformationToImage"

  const id = document.querySelector("main")?.getAttribute("data-id") ?? ""
  const imgToTransform = document.getElementById("transformation") as HTMLImageElement
  const buttons = document.querySelectorAll(".examples__buttons")
  const costumeForm = document.getElementById("costumeForm") as HTMLButtonElement
  
  costumeForm.addEventListener('submit', event => {
    event.preventDefault()
    
    const costumeTopic = document.getElementById('wearInput') as HTMLInputElement
    const backgroundTopic = document.getElementById('backgroundInput') as HTMLInputElement
    applyTransformationToImage({
      id, 
      imgToTransform, 
      costumeTopic: costumeTopic.value, 
      backgroundTopic: backgroundTopic.value
    })
  })
    
    buttons.forEach((button) => {
      button.addEventListener("click", (e) => {
        const costumeTopic = button.getAttribute("data-topic")
        applyTransformationToImage({id, costumeTopic, imgToTransform})
      })
    })
    
  // const downloadButton = document.querySelector(".download") as HTMLButtonElement
  // downloadButton.addEventListener("click", (e) => {
  //   const url = getCldImageUrl({ src: id, format: "avif" })

  //   const a = document.createElement("a")
  //   a.href = url
  //   a.download = "image.avif"
  //   a.click()
  // })
</script>