---
const {class: className, src, name} = Astro.props
---

<button class={className} data-topic={name}>
  <div>
    <img src={src} alt="" />
  </div>
  <span>{name}</span>
</button>

<style>
  button {
    width: 100%;
    text-align: start;
  }
  
  button:hover img {
    filter: brightness(1.5)
  }

  button:hover span {
    color: var(--neutral-light);
  }
  
  button div {
    background-color: var(--neutral-medium);
    height: auto;
    aspect-ratio: 3/4;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 8px;
  }
  
  img{
    width: 100%;
    height: 100%;
    transition: filter 0.25s;
  }

  span{
    transition: color 0.25s;
  }
</style>