---
  import Button from "./Button.astro"
---
<section>
  <h1>Share your scary costume!</h1>
  <div>
    <button>discord</button>
    <button>Instagram</button>

    <button>Whatsapp</button>
    <button>X / Twitter</button>
  </div>
</section>
<section>
  <h2>Take your costume with you</h2>
  <Button id="download" text="Download" href="#"/>
</section>
<section>
  <h2>Keep exploring!</h2>
  <button>Wear Another Costume</button>
</section>

<script>

</script>